# Core framework
fastapi==0.121.1
pydantic==2.12.4
pydantic-settings==2.11.0

# Database
psycopg[binary,pool]==3.2.12
SQLAlchemy==2.0.44

# Server
uvicorn[standard]==0.38.0

# AWS Services
boto3==1.40.69

# Utilities  
python-dotenv==1.2.1
cryptography==46.0.3
requests==2.32.5
